nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10%;
  height: 70px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 400px) {
  nav {
    flex-direction: column;
    height: auto;
  }
  nav a {
    margin: 10px;
  }
}
